  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="{{site.url }}/index.html">Couture d'Opale</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--a href="index.html"><img src="assets/img/logo.jpg" alt="" class="img-fluid"></a-->
      </div>

        <!-- about Start -->
        {% include _menu.html %}
        <!-- about End -->

    </div>
  </header><!-- End Header -->
