<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol class="carousel-indicators" id="hero-carousel-indicators">
        </ol>

        <div class="carousel-inner"> <!-- role="listbox"-->

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1C.webp);">
            <div class="carousel-container">
              <div class="carousel-content">
                <div class="carousel-content">
                  <h1 class="animate__animated animate__fadeInDown">Bienvenue sur la vitrine de <span>Couture d'Opale</span></h1>
                  <h2 class="animate__animated animate__fadeInUp">Un atelier de retouche, réparation et de confection proche de Marquise dans le Pas-de-Calais, Patricia 
                    vous y attend <br> pour parler de vos besoins ou de vos projets de couture.</h2>
                  <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Débuter notre rencontre</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/logo_poissonsdopale.png);">
            <div class="carousel-container">
              <div class="carousel-content">
                <!--<h1 class="animate__animated animate__fadeInDown">Ma nouvelle boutique Poissons d'Opale</h1>
              -->
                
                <a href="https://poissonsdopale.sumupstore.com/" target="_blank" class="btn-get-started animate__animated animate__fadeInUp scrollto">Visitez la boutique</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.webp);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h1 class="animate__animated animate__fadeInDown">Pour se protéger du soleil </h1>
                <h2 class="animate__animated animate__fadeInUp">13 € pour un joli petit Bob fleuri et reversible en jeans pour petite fille de 4 ans.<br>Biensûr il y en a aussi pour les petits garçons ; )</h2>
                <!--a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a-->
              </div>
            </div>
          </div>

          <!-- Slide 4 -->
          <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.webp);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h1 class="animate__animated animate__fadeInDown">et pour son bien être</h1>
                <h2 class="animate__animated animate__fadeInUp">Un petit short fleuri avec un joli volant à 10 €... </h2>
                <!--a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a-->
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev" aria-label="précédent">
          <span class="carousel-control-prev-icon bx bx-chevrons-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next" aria-label="suivant">
          <span class="carousel-control-next-icon bx bx-chevrons-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>
  <!-- End Hero -->
