  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Conditions Générales d'Utilisation</h2>
          <ol>
            <li><a href="{{site.url }}/index.html">Home</a></li>
            <li>CGU</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <p>
          Le site <b>{{ site.data.base.title }}</b> est un site vitrine qui permet de visualiser les services proposés par la gérante de la micro entreprise : <b>Patricia BRUVRY</b>
          <br>
          <br>
          <b>{{ site.data.base.title }}</b><br>
          {{ site.data.base.adresse }}, {{ site.data.base.codepostal }}, {{ site.data.base.ville }}<br>
          Numéro de téléphone : {{ site.data.base.telephone }}<br>
          Mail : <a href="mailto:{{ site.data.base.email }}">{{ site.data.base.email }}</a><br>
          Mon SIRET : {{ site.data.base.siret }}<br>
          <br>
          Il permet également de trouver les informations de présentation de la couturière, de ses réalisations, des horaires et des méthodes de prise de contact.<br> 
          <br>
          Merci de respecter la charte de bonne utilisation, tous mails envoyés n'étant pas en rapport avec les informations du site sont susceptibles de ne pas être retenus et ne feront pas l'objet d'une réponse.
          Le présent site ne serait être tenu pour responsable si l'un des sites ou les liens référencés ne vous donnent pas une entière satisfaction.<br>
          <br>
          Les textes et les images du site sont la propriété de  <b>Mme Patricia Bruvry</b>.<br> 
          Toute reproduction est interdite.<br>           
        </p>
      </div>
    </section>

  </main><!-- End #main -->
