    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Me contacter</h2>
            <p>N'hésitez pas à me contacter par téléphone ou par mail pour échanger sur vos besoins en couture ou de confection.<br>Laissez moi vos coordonnées et un message, je vous recontacterai rapidement. </p>
          </div>
  
          <div class="row no-gutters justify-content-center" data-aos="fade-up">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bx bx-map"></i>
                  <h1>Localisation:</h1>
                  <p>{{ site.data.base.adresse }}, {{ site.data.base.codepostal }}, {{ site.data.base.ville }}</p>
                </div>
  
                <div class="email mt-4">
                  <i class="bx bx-envelope"></i>
                  <h1>Email:</h1>
                  <p><a href="mailto:{{ site.data.base.email }}" aria-label="mail">{{ site.data.base.email }}</a></p>
                </div>
  
                <div class="phone mt-4">
                  <i class="bx bx-mobile-alt"></i>
                  <h1>Téléphone portable:</h1>
                  <p>{{ site.data.base.telephone }}</p>
                </div>
  
                <div class="phone mt-4">
                  <i class="bx bxl-facebook"></i>
                  <h1>Mon Facebook</h1>
                  <p><a href="{{ site.data.base.linkfacebook }}" class="facebook"  target="_blank" rel="noopener noreferrer" aria-label="facebook">Couturedopale</a></p>
                </div>
  
                  <div class="phone mt-4">
                  <i class="bx bx-store"></i>
                  <h1>Mon Siret</h1>
                  <p>{{ site.data.base.siret }}</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <iframe title="Carte de Rinxent" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d157.58188875048313!2d1.750008117459105!3d50.80689080007302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47dc30c181fdfe33%3A0x18e6c353a5148fcd!2s14%20Rue%20Jean%20Ferrat%2C%2062720%20Rinxent!5e0!3m2!1sfr!2sfr!4v1687078276293!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
  
          </div>
        </div>
    </section>
<!-- End Contact Section -->