    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Les questions fréquentes</h2>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i> <a href="#faq-list-1" data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-1">Vendez-vous de la mercerie ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                  Non, je ne vends pas de mercerie. Par contre, je m'approvisionne régulièrement pour mes travaux de couture ou de confection chez <a href="https://www.facebook.com/pageopaletissus/">Opale Tissus</a> (105, Rue des Tertres, 62250, Marquise). 
                  Je vous conseille ce magazin où vous serez bien accueillis et bien renseignés. Les tissus sont de qualités et originaux.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i> <a href="#faq-list-2"data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Donnez vous des cours de couture ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                  Non, pas pour le moment. Ce n'est pas l'envie qu'il me manque ... mais le temps ... Cela se fera peut être un jour ;).
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i> <a href="#faq-list-3" data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Comment cela se passe pour la confection ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Je travaille à partir de patrons. 
                    Dans tous les cas, nous en discutons, nous choisissons le tissu et les accessoires et je vous fais un devis.
                    Par contre, je vous demanderai un accompte de 50% du devis établi.
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i> <a href="#faq-list-4" data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Est ce que vous pouvez broder des vêtements ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Oui, je suis équipée d'une brodeuse et je sais aussi broder manuellement. Contactez moi pour personnaliser vos vêtements. Nous discuterons ensemble de votre projet, établirons un devis et le planning de réalisation. 
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i> <a href="#faq-list-5" data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Est ce que vous vous déplacez ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Oui, mais dans un périmètre de 10 kms autour de Rinxent.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="bx bx-help-circle icon-help"></i> <a href="#faq-list-6" data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Quels moyens de paiement acceptez vous ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    A Aujourd'hui, j'accepte les réglements en liquide et par chéque.
                    Je ne suis pas encore équipée pour recevoir les réglements par Carte Bleue.
                  </p>
                </div>
              </li>
  
  
            </ul>
          </div>
  
        </div>
      </section><!-- End F.A.Q Section -->
  
  