    <!-- ======= Services Section ======= -->
    <section id="Hours" class="services section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Les horaires</h2>
            <p></p>
          </div>
  
          <div class="row">
            <div class="col-md-14 col-lg-12 " data-aos="fade-up">
              <div class="icon-box icon-box-green">
                <div class="icon"><i class="bx bx-time-five"></i></div>
                <p class="description">Je suis disponible pour vous recevoir du <h1>lundi de 18:30 à 20:00<br>fermé le mardi<br> mercredi de 18:30 à 20:00<br> jeudi de 18:30 à 20:00<br> vendredi de 18:30 à 20:00</h1> sur place au <h1>14, rue Jean Ferrat à Rinxent</h1>.</p>
                <div class="icon"><i class="bx bx-phone-call"></i></div>
                <p class="description">En dehors de ces heures, N'hésitez pas à me contacter au <h1>06.98.08.46.78</h1> pour établir d'un rendez-vous.</p>
                <p class="description">Ou laissez-moi un message, je vous recontacterez pour discuter de votre besoin, établir votre devis ou pour définir d'un rendez-vous.</p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- End Services Section -->
  