<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Mes confections</h2>
        <p>Je réalise à partir de patrons vos confections. J'ai une préférence pour la réalisation de vêtements enfants et de sacs.</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-filters">
            <li data-filter="*" class="filter-active">Tous</li>
            <li data-filter=".filter-adulte">Adulte</li>
            <!--li data-filter=".filter-moyenne">Moyenne</li-->
            <li data-filter=".filter-enfant">Enfant</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-adulte">
          <div class="portfolio-wrap">
            <img src="{{ site.url }}/assets/img/portfolio/portfolio-1.webp" width="415" height="600" class="img-fluid" alt="" loading="lazy">
            <div class="portfolio-info">
              <h1>Banane 1</h1>
              <p>20 € la petite Banane</p>
              <div class="portfolio-links">
                <a href="{{ site.url }}/assets/img/portfolio/portfolio-1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Petite Banane"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-adulte">
          <div class="portfolio-wrap">
            <img src="{{ site.url }}/assets/img/portfolio/portfolio-2.webp"  width="415" height="600" class="img-fluid" alt="" loading="lazy">
            <div class="portfolio-info">
              <h1>Banane 2</h1>
              <p>25 € la grande Banane</p>
              <div class="portfolio-links">
                <a href="{{ site.url }}/assets/img/portfolio/portfolio-2.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Grande Banane"><i class="bx bx-plus"></i></a>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-adulte">
          <div class="portfolio-wrap">
            <img src="{{ site.url }}/assets/img/portfolio/tablier-jeans-avant-1.webp"  width="415" height="600" class="img-fluid" alt="" loading="lazy">
            <div class="portfolio-info">
              <h1>Banane 6</h1>
              <p>32 € Tablier japonais en jeans  A COMMANDER</p>
              <div class="portfolio-links">
                <a href="{{ site.url }}/assets/img/portfolio/tablier-jeans-arriere-1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tablier japonais en jeans - A COMMANDER"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-enfant">
          <div class="portfolio-wrap">
            <img src="{{ site.url }}/assets/img/portfolio/turbulette_6mois_fille.webp"  width="415" height="600" class="img-fluid" alt="" loading="lazy">
            <div class="portfolio-info">
              <h1>turbulette 6 mois Fille</h1>
              <p>35 € la jolie turbulette 6 mois pourfille</p>
              <div class="portfolio-links">
                <a href="{{ site.url }}/assets/img/portfolio/turbulette_6mois_fille.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="turbulette 6 mois fille"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-enfant">
          <div class="portfolio-wrap">
            <img src="{{ site.url }}/assets/img/portfolio/gilet_marron_4ans_fille.webp"  width="415" height="600"  class="img-fluid" alt="" loading="lazy">
            <div class ="portfolio-info">
              <h1>Gilet marron 4 ans Fille</h1>
              <p>25 € Gilet 4 ans Fille</p>
              <div class="portfolio-links">
                <a href="{{ site.url }}/assets/img/portfolio/gilet_marron_4ans_fille.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="gilet marron 4 ans fille"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-enfant">
          <div class="portfolio-wrap">
            <img src="{{ site.url }}/assets/img/portfolio/Fille_Lot_Vanity.webp"  width="415" height="600" class="img-fluid" alt="" loading="lazy">
            <div class="portfolio-info">
              <h1>Lot Vanity Fille</h1>
              <p>35 € Vanity + Bavoir + pochette de Nettoyage coquillage</p>
              <div class="portfolio-links">
                <a href="{{ site.url }}/assets/img/portfolio/Fille_Lot_Vanity.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Vanity + Bavoir + pochette de Nettoyage coquillage"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>          
      </div>

    </div>
  </section>
  <!-- End Portfolio Section -->
